body {
    color: #223;
    font: x-large/1.5 "Source Sans Pro", sans-serif;
    width: 36em;
    margin: 3em auto 0 auto;
}

p {
    margin: 0 0 1.5em 0;
}

h1, h2 {
    font-size: 100%;
    margin: 0;
}

a:link, a:visited,a:hover, a:active {
    color: #0030a0;
}

a:hover {
    text-decoration:none;
}

ol {
    padding-left: 0;
}

h1, ol li {
    margin-bottom: 1.5em;
}
