dt {
    font-weight: bold;
    float:left;
    margin-right: .25em;
}
dt:after {
    content:":";
}
ul {
    list-style: none;
    padding: 0;
}
ol li {
    list-style: upper-roman;
    margin: 0;
    margin-left: 2em;
}
.composer {
    display: block;
}
.title {
    font-weight: bold;
}